* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Segoe UI", Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;

  /* COR NEUTRA + IMAGEM TRANSPARENTE POR CIMA */
  background:
    linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("../Imagem/Hospital.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* GARANTIR QUE A BOX FIQUE EM CIMA DO OVERLAY */
.box{
  position:relative;
  z-index:1;

  background:#fff;
  padding:40px 30px;
  border-radius:15px;
  box-shadow:0 6px 15px rgba(0,0,0,0.25);
  width:400px;
  text-align:center;
  overflow:hidden;
}

.login-box {
  background: #fff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #3f51b5;
  font-size: 24px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #3f51b5;
}

button {
  width: 100%;
  padding: 12px;
  background: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

button:hover {
  background: #303f9f;
}
